/*
---------------------
--- 01 TYPOGRAPHY ---
---------------------

- Font size system (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default:    400
Medium:     500
Semi-bold:  600
Bold:       700

- Line heights:
Default:    1
h2:         1.2
h3:         1.4
p default:  1.6

- Letter spacing:
h1-h3:      -1px


---------------------
--- 02 WHITESPACE ---
---------------------

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-----------------
--- 03 COLORS ---
-----------------

- As defined in the root class


------------------
--- 04 SHADOWS ---
------------------

- Default:
0 0.4rem 0.4rem var(--clr-shaddow-hard),
0 1.2rem 1.2rem var(--clr-shaddow-soft);

- Hover:
0 0.8rem 0.8rem var(--clr-shaddow-dark--hover),
0 2.4rem 2.4rem var(--clr-shaddow-soft--hover);


------------------------
--- 05 BORDER-RADIUS ---
------------------------

- Buttons: 3px
*/

/************************/
/*** GENERAL SETTINGS ***/
/************************/

:root {
  --clr-primary: #94d82d;
  --clr-primary-950: #0f1604;
  --clr-primary-900: #1e2b09;
  --clr-primary-800: #3b5612;
  --clr-primary-700: #59821b;
  --clr-primary-600: #76ad24;
  --clr-primary-500: var(--clr-primary);
  --clr-primary-400: #a9e057;
  --clr-primary-300: #bfe881;
  --clr-primary-200: #d4efab;
  --clr-primary-100: #eaf7d5;
  --clr-primary-50: #f4fbea;

  --clr-neutral-950: #0a0a0a;
  --clr-neutral-900: #171717;
  --clr-neutral-800: #262626;
  --clr-neutral-700: #404040;
  --clr-neutral-600: #525252;
  --clr-neutral-500: #737373;
  --clr-neutral-400: #a3a3a3;
  --clr-neutral-300: #d4d4d4;
  --clr-neutral-200: #e5e5e5;
  --clr-neutral-100: #f5f5f5;
  --clr-neutral-50: #fafafa;

  --clr-bg: var(--clr-neutral-900);
  --clr-bg--tint: var(--clr-neutral-800);

  --clr-shaddow-hard: rgba(255, 255, 255, 0.3);
  --clr-shaddow-soft: rgba(255, 255, 255, 0.15);
  --clr-shaddow-dark--hover: rgba(0, 0, 0, 0.2);
  --clr-shaddow-soft--hover: rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  transition: 200ms;
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(148, 216, 45, 0.5);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--clr-neutral-200);
  background-color: var(--clr-bg);
}

p,
span {
  font-size: 1.8rem;
  line-height: 1.6;
}

strong {
  font-weight: 600;
}

mark {
  background-color: var(--clr-primary);
}

/***********************************/
/*** GENERAL REUSABLE COMPONENTS ***/
/***********************************/

.heading-primary,
.heading-secondary,
.heading-tirtiary {
  color: var(--clr-neutral-100);
  letter-spacing: -1px;
}

.heading-primary {
  font-size: 6.2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8rem;
}

.heading-tirtiary {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 1.2rem;
  padding: 1.2rem 2.4rem;
  transition: 200ms;
}

.btn--primary {
  color: var(--clr-neutral-800);
  background-color: var(--clr-primary);
}

.btn--secondary {
  color: var(--clr-neutral-200);
  box-shadow: inset 0 0 0 2px var(--clr-primary);
}

.btn:hover,
.btn:active {
  background-color: var(--clr-primary-300);
}

.btn--secondary:hover,
.btn--secondary:active {
  color: var(--clr-neutral-800);
  background-color: var(--clr-primary-300);
  box-shadow: inset 0 0 0 2px var(--clr-primary-300);
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.icon {
  fill: var(--clr-primary);
  flex-shrink: 0;
}

.icon--star-rating {
  height: 2.4rem;
  fill: #fdd663;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.list__item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/***********************************/
/* HELPER CLASSES */
/***********************************/

.container--center {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.section__padding--vertical {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.center-content {
  text-align: center;
}
