/********************************************/
/* BILDSCHIRM <= 1200px (Kleine PCs)
/********************************************/
@media (max-width: 75em) {
  html {
    /* 9px/16px = 0.5625 => 56.25% */
    font-size: 56.25%;
  }

  .btn,
  .btn:link,
  .btn:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 3px;
    padding: 2.4rem 2.4rem;
    transition: 200ms;
  }
}

/********************************************/
/* BILDSCHIRM <= 1080px (Tablets Querformat)
/********************************************/
@media (max-width: 67.5em) {
  html {
    /* 8px/16px = 0.5625 => 56.25% */
    font-size: 50%;
  }
}

/********************************************/
/* BILDSCHIRM <= 960px (Tablets)
/********************************************/
@media (max-width: 60em) {
  html {
    /* 7px/16px = 0.4375 => 43.75% */
    font-size: 43.75%;
  }

  .header {
    position: relative;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: var(--clr-bg--tint);
    pointer-events: none;
    visibility: hidden;
    transition: 300ms ease-in-out;
  }

  .main-nav-mobile--open .main-nav {
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .main-nav__list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav__link:link,
  .main-nav__link:visited {
    font-size: 3.6rem;
  }

  .main-nav__link.main-nav__cta:link,
  .main-nav__link.main-nav__cta:visited {
    padding: 2.4rem 2.4rem;
  }

  .main-nav-mobile__btn {
    display: block;
  }

  .main-nav-mobile__icon[name="open"] {
    display: block;
  }

  .main-nav-mobile--open .main-nav-mobile__icon[name="open"] {
    display: none;
  }

  .main-nav-mobile--open .main-nav-mobile__icon[name="close"] {
    display: block;
  }

  .section__padding--vertical {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .hero {
    max-width: 80rem;
    text-align: center;
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .hero__description {
    margin-bottom: 4.8rem;
  }

  .hero__google-rating {
    justify-content: center;
    margin-top: 6.4rem;
  }

  .hero__img {
    width: 90%;
  }

  .btn--cta {
    max-width: 31rem;
  }

  .heading-secondary {
    margin-bottom: 6.4rem;
  }
}

/********************************************/
/* BILDSCHIRM <= 810px (Kleine Tablets)
/********************************************/
@media (max-width: 50.625em) {
  .section__padding--vertical {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .heading-primary {
    margin-bottom: 1.6rem;
  }

  .hero__description {
    margin-bottom: 3.2rem;
  }

  .hero__google-rating {
    margin-top: 4.8rem;
  }

  .icon--benefits {
    height: 4.8rem;
    margin-bottom: 2.4rem;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .heading-tirtiary {
    margin-bottom: 1.6rem;
  }

  .faq__question.heading-tirtiary {
    margin-bottom: 0;
  }

  .features__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--review {
    grid-template-columns: repeat(3, 1fr);
  }

  .review__rating {
    margin-bottom: 3.2rem;
  }

  .review__quote {
    margin-bottom: 2.4rem;
    font-weight: 600;
  }

  .review__img {
    height: 6.4rem;
    margin-bottom: 0.8rem;
  }

  .grid--pricing {
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
  }

  .grid__item--spezialpakete {
    grid-column: span 1;
  }

  .grid__item:nth-child(2) {
    grid-row: 2;
  }

  .span--kids-cut {
    max-width: 15rem;
  }
}

/********************************************/
/* BILDSCHIRM <= 652px (Handys)
/********************************************/
@media (max-width: 40.75rem) {
  .heading-secondary--benefits {
    text-align: center;
  }

  .grid--benefits {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .features__grid-container {
    display: grid;
  }

  .features__grid {
    grid-template-columns: 1fr;
    justify-self: center;
  }

  .grid--review {
    grid-template-columns: 1fr;
  }

  .review__rating {
    margin-bottom: 2.4rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--pricing {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }

  .span--kids-cut {
    max-width: none;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.2rem;
  }
}
