/***********************************/
/* HEADER */
/***********************************/

/***********************************/
/* HERO */
/***********************************/
.hero {
  gap: 4.8rem;
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__description {
  margin-bottom: 6.4rem;
}

.btn--header-cta {
  margin-right: 1.2rem;
}

.hero__img-container {
  text-align: center;
}

.hero__img {
  width: 100%;
  border-radius: 3px;
}

.hero__google-rating {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 8rem;
}

.hero__google-logo {
  height: 4.8rem;
  margin-right: 1.2rem;
}

.hero__google-rating-average {
  color: var(--clr-primary-300);
  font-weight: 700;
  margin-right: -0.4rem;
}

.hero__google-ratings-count {
  color: var(--clr-neutral-400);
}

/***********************************/
/* BENEFITS */
/***********************************/
.grid--benefits {
  display: flex;
  gap: 6.4rem;
}

.icon--benefits {
  height: 4.8rem;
  margin-bottom: 3.2rem;
}

/***********************************/
/* FEATURES */
/***********************************/
.features__grid {
  list-style: none;
  gap: 1.6rem;
}

.icon--features {
  height: 3.2rem;
}

/***********************************/
/* REVIEWS */
/***********************************/
.grid--review {
  gap: 8rem;
}

.review__rating {
  margin-bottom: 4.8rem;
}

.review__quote {
  margin-bottom: 3.2rem;
  font-weight: 600;
}

.review__img {
  height: 6.4rem;
  margin-bottom: 1.2rem;
}

.review__author {
  color: var(--clr-neutral-400);
}

/***********************************/
/* GALLERIE */
/***********************************/
.gallery__grid {
  gap: 0.4rem;
}

.gallery__item {
  overflow: hidden;
  /* transform: scale(1.2); */
}

.gallery__img {
  display: block;
  width: 100%;
  transition: 200ms;
}

.gallery__img:hover {
  transform: scale(1.2);
}

/***********************************/
/* PREISLISTE */
/***********************************/
.grid--pricing {
  grid-template-columns: 3fr 2fr 2fr;
  gap: 4.8rem;
}

.grid__item--spezialpakete {
  grid-column: span 2;
}

.list--pricing {
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}

.list__item--pricing {
  border-bottom: 1px solid var(--clr-neutral-600);
}

.price {
  margin-left: auto;
  text-wrap: nowrap;
}

.text-line-through {
  display: inline-block;
  color: var(--clr-neutral-400);
  text-decoration: line-through 1px;
  margin-right: 1rem;
}

.icon--pricing {
  height: 2.4rem;
}

.payment-method {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.payment-method__img {
  height: 3.2rem;
  background-color: var(--clr-bg--tint);
  /* border: 1px solid var(--clr-primary-300); */
  border-radius: 3px;
  box-shadow: 0 0.1rem 0.2rem var(--clr-shaddow-hard);
  padding: 0.8rem;
}

/***********************************/
/* FAQ */
/***********************************/
.faq__instance {
  background-color: var(--clr-neutral-800);
  border-radius: 3px;
  margin-bottom: 2.4rem;
}

.faq__question {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;
  background-color: var(--clr-neutral-700);
  border-radius: 3px;
  padding: 1.2rem;
  padding-left: 2.4rem;
  margin-bottom: 0;
}

.faq__answer {
  cursor: text;
  padding: 2.4rem 2.4rem 2.4rem 2.4rem;
}
