/***********************************/
/* HEADER */
/***********************************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-bg);
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 9.6rem;
  padding: 0 3.2rem;
  transition: 200ms;
  margin: 0 auto;
}

.header--center {
  padding: 0 3.2rem;
}

.seren-logo {
  height: 4.8rem;
}

/***********************************/
/* NAVIGATION */
/***********************************/
.main-nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 3.2rem;
}

.main-nav__link:link,
.main-nav__link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-200);
  font-size: 1.8rem;
  font-weight: 600;
  transition: 200ms;
}

.main-nav__link:hover,
.main-nav__link:active {
  color: var(--clr-primary);
}

.main-nav__link.main-nav__cta:link,
.main-nav__link.main-nav__cta:visited {
  color: var(--clr-neutral-800);
  background-color: var(--clr-primary);
  border-radius: 3px;
  padding: 1.2rem 2.4rem;
  transition: 200ms;
}

.main-nav__link.main-nav__cta:hover,
.main-nav__link.main-nav__cta:active {
  background-color: var(--clr-primary-300);
}

.main-nav--sticky {
  height: 6.4rem;
  background-color: var(--clr-bg);
  box-shadow: 0 0.2rem 1rem var(--clr-shaddow-soft);
}

.main-nav-mobile__btn {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1;
}

.main-nav-mobile__icon {
  display: none;
  height: 4.8rem;
  width: 4.8rem;
  fill: var(--clr-neutral-200);
}

.main-nav-mobile__icon[name="close"] {
  display: none;
}

/***********************************/
/* HERO */
/***********************************/
.hero {
  padding-top: 15rem !important;
  min-height: 100vh;
}

.hero-container {
  gap: 9.6rem;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__description {
  margin-bottom: 6.4rem;
}

.btn--header-cta {
  margin-right: 1.2rem;
}

.hero__img-container {
  text-align: center;
}

.hero__img {
  width: 100%;
  border-radius: 3px;
}

.hero__google-rating {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 8rem;
}

.hero__google-logo {
  height: 4.8rem;
  margin-right: 1.2rem;
}

.hero__google-rating-average {
  color: var(--clr-primary-300);
  font-weight: 700;
  margin-right: -0.4rem;
}

.hero__google-ratings-count {
  color: var(--clr-neutral-400);
}

/***********************************/
/* BENEFITS */
/***********************************/
.grid--benefits {
  grid-template-columns: repeat(3, 1fr);
  gap: 6.4rem;
}

.icon--benefits {
  height: 4.8rem;
  margin-bottom: 3.2rem;
}

/***********************************/
/* FEATURES */
/***********************************/
.features__grid {
  list-style: none;
  gap: 1.6rem;
}

.icon--features {
  height: 3.2rem;
}

/***********************************/
/* REVIEWS */
/***********************************/
.grid--review {
  gap: 8rem;
}

.review__rating {
  margin-bottom: 3.2rem;
}

.review__quote {
  margin-bottom: 3.2rem;
  font-weight: 600;
}

.review__img {
  height: 6.4rem;
  margin-bottom: 1.2rem;
}

.review__author {
  color: var(--clr-neutral-400);
}

/***********************************/
/* GALLERIE */
/***********************************/
.gallery__grid {
  gap: 0.4rem;
}

.gallery__item {
  border-radius: 3px;
  overflow: hidden;
}

.gallery__img {
  display: block;
  width: 100%;
  transition: 200ms;
}

.gallery__img:hover {
  transform: scale(1.2);
}

/***********************************/
/* PREISLISTE */
/***********************************/
.grid--pricing {
  grid-template-columns: 3fr 2fr 2fr;
  gap: 4.8rem;
}

.grid__item--spezialpakete {
  grid-column: span 2;
}

.list--pricing {
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}

.list__item--pricing {
  border-bottom: 1px solid var(--clr-neutral-600);
}

.price {
  margin-left: auto;
  text-wrap: nowrap;
}

.span--special-package {
  max-width: 21rem;
}

.price--special {
  color: var(--clr-primary);
}

.text-line-through {
  display: inline-block;
  color: var(--clr-neutral-400);
  text-decoration: line-through 1px;
  margin-right: 1rem;
}

.pricing__icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}

.icon--pricing {
  height: 2.4rem;
}

.payment-method {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.payment-method__img {
  height: 4.8rem;
  background-color: var(--clr-neutral-700);
  border-radius: 3px;
  box-shadow: 0 0.2rem 0.2rem var(--clr-shaddow-hard);
  box-shadow: 0 0.6rem 0.6rem var(--clr-shaddow-soft);
  padding: 0.8rem;
}

/***********************************/
/* FAQ */
/***********************************/
.faq__instance {
  background-color: var(--clr-neutral-800);
  border-radius: 3px;
  margin-bottom: 2.4rem;
}

.faq__question {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;
  background-color: var(--clr-neutral-700);
  border-radius: 3px;
  padding: 1.2rem;
  padding-left: 2.4rem;
  margin-bottom: 0;
}

.faq__answer {
  cursor: text;
  padding: 2.4rem 2.4rem 2.4rem 2.4rem;
}

/***********************************/
/* CTA */
/***********************************/
.cta {
  gap: 4.8rem;
}

.heading-secondary--cta {
  margin-bottom: 3.2rem;
}

.cta__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta__description {
  margin-bottom: 6.4rem;
}

.cta__btn-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.icon--cta {
  height: 2.4rem;
  fill: var(--clr-neutral-800);
}

.cta__img {
  width: 100%;
  border-radius: 3px;
}

/***********************************/
/* FOOTER */
/***********************************/
.section__padding--footer {
  margin-top: 9.6rem;
  margin-bottom: 3.2rem;
}

.grid--footer {
  grid-template-columns: 1fr 2fr 2fr;
  gap: 3.2rem;
  border-bottom: solid 1px var(--clr-neutral-500);
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
}

.footer__logo-and-socials {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  margin-bottom: 3.2rem;
}

.footer__heading {
  font-size: 2rem;
  line-height: 1.4;
  color: var(--clr-neutral-100);
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.footer__heading--phone {
  margin-top: 8rem;
}

.list__item--opening-hours {
  max-width: 22rem;
}

.footer__opening-hour {
  margin-left: auto;
}

.footer__contact {
  justify-self: end;
}

.footer__address {
  margin-bottom: 4.8rem;
}

.list--contact {
  gap: 1.2rem;
}

.footer__address:link,
.footer__address:visited,
.footer__contact-number:link,
.footer__contact-number:visited {
  text-decoration: none;
  color: var(--clr-neutral-200);
  transition: 200ms;
}

.footer__address:hover,
.footer__address:active,
.footer__contact-number:hover,
.footer__contact-number:active {
  color: var(--clr-primary);
}

.icon--contact {
  height: 2.4rem;
}

.footer__socials-container {
  display: flex;
  margin-top: auto;
  gap: 1.6rem;
}

.icon--socials {
  height: 4.8rem;
  fill: var(--clr-neutral-200);
  transition: 200ms;
}

.icon--socials:hover,
.icon--socials:active {
  fill: var(--clr-primary);
}

.footer__legal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.footer__legal {
  font-size: 1.8rem;
  color: var(--clr-neutral-400);
}

.footer__legal--link:link,
.footer__legal--link:visited {
  text-decoration: none;
  transition: 200ms;
}

.footer__legal--link:hover,
.footer__legal--link:active {
  color: var(--clr-primary);
}

.footer__dev:link,
.footer__dev:visited {
  text-decoration: none;
  color: var(--clr-neutral-300);
  font-weight: 600;
  transition: 200ms;
}

.footer__dev:hover,
.footer__dev:active {
  color: var(--clr-primary);
}

/***********************************/
/* LEGAL */
/***********************************/
.section__padding--legal {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.section__padding--privacy {
  padding-top: 4.8rem;
  padding-bottom: 9.6rem;
}

.heading-primary--legal {
  padding-top: 15rem !important;
  margin-bottom: 1.6rem;
}

.heading-secondary--legal {
  margin-bottom: 4.8rem;
}

.list--legal {
  gap: 1.2rem;
}

.list__item-legal {
  font-size: 1.8rem;
}

.closure {
  margin-bottom: 1.2rem;
}
