/***********************************/
/* HEADER */
/***********************************/
.hero {
  background-color: var(--clr-bg--tint);
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__description {
  margin-bottom: 6.4rem;
}

.hero__img-container {
  text-align: center;
}

.hero__img {
  width: 70%;
}
